<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro ou atualização de Livro</title>
</head>
<body>

    <h1>New/Update book</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>
    </form>


    {% if book %}
        <a href="{% url 'delete_book' book.id %}">Delete</a>
    {% endif %}
</body>
</html>